* {
    background-image: none;
    box-shadow: none;
    font-family: "FiraCode Nerd Font", "Cascadia Code", sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

window {
    background-color: alpha(#121318, 0.5);
}

button {
    color: #e3e1e9;
    background-color: alpha(#34343a, 0.85);
    border: 2px solid alpha(#e3e1e9, 0.05);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    margin: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    padding: 130px 0px 20px 0px
}

button:active, button:hover {
    background-color: alpha(#b5c4ff, 0.95);
    color: #1c2d61;
    border: 2px solid #b5c4ff;
    box-shadow: 0 0 25px alpha(#b5c4ff, 0.6);
    margin: 10px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}
#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}
#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
